:root {
    --blackish: #00060D;
    --dark-purple: #180829;
    --maroon: #541438;
    --carnation: #F25A6B;
    --beige: #CCB4A9;
}

body {
    background-color: var(--dark-purple);
    color: var(--beige);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1, h2 {
    color: var(--carnation);
}

button {
    background-color: var(--carnation);
    color: var(--maroon);
    font-weight: bold;
}